<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBankingTransaction" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5050/IBankingTransaction"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBankingTransaction"
                contract="Mind.Atm.ServiceReference.IBankingTransaction" name="BasicHttpBinding_IBankingTransaction" />
        </client>
    </system.serviceModel>
</configuration>